$largeur: (
    titre_footer_mobile:8rem,
    titre_footer_tablette:20rem,
    titre_footer_ordi:20rem,

    ohmyfood_p_mobile:10rem,
    ohmyfood_p_tablette:14rem,
    ohmyfood_p_ordi:22rem,
    titre_footer_ordi_img:18%,
    titre_footer_img: 28%,
    titre_footer_img_ordi:16%,
    footer: 100%,
    titre_footer:200px,
    fa_sharp_ordi:80px,
    block_mobile_h3h4:calc(100% - 3rem),
    block_tablette_h3h4:calc(100% - 4rem),
    block_ordi_h3h4:calc(100% - 4rem),
    block_ordi:100%,
    commander_menu_mobile:100%,
    h5_mobile:3rem,
    h5_tablette:4rem,
    h5_ordi:4rem,
    description:100%,
    body:100%,
	html: 100%,
    fa_sharp_mobile: 60px,
    fa_sharp_tablette: 100px,
    ul:70%,
    p_menu_tablette: 6rem,
    p_menu_mobile: 160px,
    p_menu_ordi:28rem,
    restautant_image_menu: 100%,
    logo:100%,
    restaurant_image:100%,
    element:100%,
    block:654px,
    h3:450px,
    h4:450px,
    coche:100px,
    description_hover:50%,
    description_hover_ordi:19%,
    titres: 4rem,
    p: 16rem,
);
$hauteur: (
    haut_page_mobile:3.5rem,
    haut_page_ordi:2rem,

    ohmyfood_p_mobile:3.5rem,

    block_ordi:10rem,
    footer_ordi:25rem,
    titre_footer_tablette:2rem,
    titre_footer_mobile_img:20px,
    titre_footer_ordi_img:3rem,

    droite_block:100%,
    titre_partie1_mobile:4rem,
    titre_partie1_tablette:9rem,
    titre_partie1_ordi:10rem,
    titres_parties:2rem,
    fa_sharp_mobile: 100%,
    block_tablette: 15vw,
    block_mobile: 21vw,
    logo_menu_ordi: 7vw,
    logo_menu: 10vw,
    logo:60px,
    restaurant_image:532px,
    h1:85px, 
    h4:39px,
    block: 100px,

    ul_tablette:10rem,
    ul_ordi:10rem,
    ul_mobile:7rem,
);
$taille: (
    titre_footer_mobile:1.5rem,
    titre_footer_tablette:2rem,
    titre_footer_ordi:2rem,

    titre_partie1_mobile:1.5rem,
    titre_partie1_tablette:2.5rem,
    titre_partie1_ordi:3rem,

    logo_p_mobile:2rem,
    logo_p_tablette:4rem,
    logo_p_ordi:5rem,

    ohmyfood_p_mobile:2rem,
    ohmyfood_p_tablette:3rem,
    ohmyfood_p_ordi:4rem,

    valeur_icone_footer_mobile:1rem,
    valeur_icone_footer_ordi:2rem,
    valeur_icone_footer_tablette:2rem,
    icone_footer:30px,

    fa_arow_mobile:1rem,
    fa_arow_tablette:2rem,
    fa_arow_ordi:2rem,
    fa_heart_mobile: 1.5rem,
    fa_heart_tablette: 2rem,
    fa_heart_ordi: 3rem,
    fa_sharp_mobile: 2rem,
    fa_sharp_tablette:2rem,
    fa_sharp_ordi: 2rem,
    icone_hande_tablette:5vw,
    icone_hande_ordi: 1.5rem,
    fourchette_couteau_mobile: 5vw,
    fourchette_couteau_tablette:3vw,
    fourchette_couteau_ordi:1.5rem,
    a_menu_mobile: 5vw,
    a_menu_tablette:4vw,
    a_menu_ordi: 1.5rem,
    ul_ordi: 2rem,
    p_menu_tablette: 3vw,
    p_menu_mobile: 20px,
    p_menu_ordi:1.5rem,
    h4_menu_ordi:1rem,
    h4_menu_tablette: 20px,
    h4_menu_mobile: 12px,
    h3_menu_ordi: 1rem,
    h3_menu_tablette: 23px,
    h3_menu_mobile: 14px,
    ordinateur_only_ordi:4rem,
    h2_menu_mobile: 6vw,
    h2_menu_tablette: 1.5rem,
    h2_menu_ordi: 1.5rem,
    h1_menu_ordi: 3rem,
    h1_menu_tablette: 3rem,
    h1_menu: 1.5rem,
    fa-solid: 35px, 
    h1: 42px, 
    h2: 30px, 
    h3:30px, 
    h3_ordi:14px,
    h3_hover:18px,
    h4:30px, 
    h4_hover:18px,
    h4_ordi:14px,
    h5_mobile:14px,
    h5_tablette:23px,
    h5_ordi:1rem,
    p:26px, 
    a:30px, 
    fourchette_couteau:30px, 
    icone_hande:30px,
);

$margeinterne: (

   
    titre_footer_tablette:0rem 0rem 0rem 5rem,
    titre_footer_mobile:1rem 0rem 0rem 2.5rem,
    titre_footer_ordi: 0rem 0rem 1rem 0rem,

    block_entree_mobile:0rem 2rem 0rem 2rem,
    block_entree_ordi:0rem 4rem 0rem 4rem,
    block_plat_mobile:0rem 2rem 0rem 2rem,
    block_plat_ordi:0rem 4rem 0rem 4rem,
    block_desserts_mobile:0rem 2rem 0rem 2rem,
    block_desserts_ordi:0rem 4rem 0rem 4rem,
    mobile_ul:0rem 0rem 0rem 1rem,
    ul_tablette:1rem 0rem 3rem 2.5rem,
    ul_ordi: 5rem 0rem 0rem 3rem ,
    commander_menu_mobile: 3rem 0rem 0rem 0rem,
    p_menu_tablette: 2rem 5rem 2rem 4rem,
    p_menu_mobile: 1rem 0rem 1rem 0rem,
    p_menu_ordi:2rem 5rem 2rem 5rem,
    ordinateur_only_ordi: 3.5rem 5rem 1rem 0rem,
    fourchette:0px,
    h7:0px 270px 0px 15px,
    logo:15px 218px 25px 0px, 
    bouton_recherche:1px,
    chiffre:15px 24px 24px 24px,
    h1_mobile:30px 0px 0px 0px,
    h1_tablette:60px 0px 10px 0px,
    h1_ordi:60px 0px 10px 0px,
    p:25px,
    h5:40px 0px 30px 0px,
    hover_sharp:30px,
    page: 3rem 0rem 3rem 2rem,
    fa_heart: 2rem 2rem 0rem 0rem,
    fa_heart_tablette: 4rem 4rem 4rem 0rem,
    fa_heart_ordi: 4rem 5rem 4rem 10rem,
    button:0rem,
);
$margeexterne: (
    titre_footer_ordi:4rem 0rem 0.5rem 0rem,
    titre_footer_mobile:2rem 0rem 0rem 2.5rem,
    titre_footer_tablette:2rem 0rem 0.5rem 0rem,
    

    icone_footer:0px 20px 0px 0px,
    titre_footer_mobile_img: 0rem ,
    valeur_icone_footer:0px 10px 0px 0px,
    titre_footer:1rem 0rem 2rem 0rem,

    valeurs_ul:2rem 0rem 2rem 0rem,

    fourchette_couteau_mobile:0px 12px 0px 0px ,
    droite_block:0rem -1rem 0rem 0rem,
    description_mobile: 0rem,
    description_tablette: 0rem,
    description_ordi: 0rem,
    p_menu_tablette: 2rem 2rem 2rem 2rem,
    h4_menu_mobile: 0px 0px 0px 2rem,
    h3_menu_mobile: 0rem 0px 10px 2rem,
    h3_menu_tablette: 0rem 0px 10px 2rem,
    h3_menu_ordi: 0rem 0px 1rem 2rem,
    h3_menu: 1rem 0px 0px 2rem,
    h1_menu_mobile: 0px 0px 0px 2rem,
    h1_menu_tablette:0px 0px 0px 4rem,
    h1_menu_ordi:0px 0px 0px 4rem,
    haut_page_mobile:0rem 0rem 0rem 0rem,
    haut_page_tablette:1rem 5rem 1rem 0rem,
    haut_page_ordi:2rem 20% 3rem 0rem,    
    fa_solid:0px 0px 0px 130px,
    h1:0px 0px 0px 40px,
    block:25px 2rem 25px 2rem,
    block_tablette:25px 2rem 25px 2rem,
    block_ordi:25px 10px 25px 10px,
    h3:0px 0px 0px 40px,
    h4:0px 0px 0px 40px,
    h5:0px 25% 0px 0px,
    p: 5% 30% 5% 30%,
    p_tablette: 5% 35% 5% 35%,
    p_ordi: 5% 38% 0% 38%,
    commander:0px 196px 0px 196px,
    fourchette_couteau:0px 20px 0px 0px,
    icone_hande:0px 20px 0px 0px,
    logo:40px 0px 20px 0px,
    body:0px,
    fa_heart:4rem 4rem 4rem 43rem,
);

$anglebord:(
    block_tablette: 40px,
    block_mobile: 20px,
    p_menu_mobile: 45px,
    element:45px 45px 0px 0px,
    block:45px 45px 45px 45px,
    p:45px,
    button: 45px 45px 0px 0px,
);
$bordure_bas:(
        titres_parties:4px solid #1C6EA4,
);

$ombre:(
    box-shadow:0px 0px 7px 1px,
    box-shadow-hover:0px 0px 7px 5px,
    block_menu:0px 0px 7px 1px,
    block_menu-hover: 0px 0px 15px 2px rgb(231 231 231),
);

$bottom:(

    titre_footer: 14rem,

    restautant_image: 0rem,
    element: 3rem,
    h4_menu: 0rem,
);

$top: (
    footer_ordi:3rem,
    titre_footer_ordi:4rem,
    commander_menu_mobile:3rem,
    commander_menu:4rem,
    titre_menu_mobile:0rem,
    titre_menu_tablette:0rem,
    titre_menu_ordi:1rem,
    h3_menu: 0rem,
    ul:4rem,
    titre_footer:1rem,
    ohmyfood_p_mobile:0.5rem,
);
$left: (
    fa_sharp_mobile:1rem,
    fa_sharp_tablette:1.5rem,
    fa_sharp_ordi:0rem,
    titre_footer_mobile:2.5rem,
    titre_footer_tablette:4rem,
    titre_footer_ordi:4rem,
    ohmyfood_p_mobile:0rem,
    footer_ordi:4.5rem,
    titres_mobile: 1.5rem,
    titres_tablette: 4rem,
    titres_ordi: 5rem,
    ul_mobile: 1.5rem,
    ul:4rem,
    ul_tablette: 2rem,
);
$right: (        
    ul_ordi:0rem,
    logo_p_tablette:2rem,
);
