$largeur: (

    titre_footer_tablette:22%,
    titre_footer_ordi_img:18%,
    titre_footer_img: 28%,
    titre_footer_img_ordi:16%,
    titre_footer_mobile:115px,
    footer: 100%,
    titre_footer:200px,

    lds-dual-ring:100%,
    bouton_recherche_tablette:17rem,
    bouton_recherche_ordi:23rem,
    destination_tablette:60%,
    body:100%,
    html:100%,
    lds-dual-ring-after:9rem,
    lds-dual-ring_mobile:10rem,
    lds-dual-ring_tablette:20rem,
    lds-dual-ring_ordi:24rem,
    logo:40%,
    nouveau2_mobile:6rem,
    nouveau2_tablette:10rem,
    nouveau2_ordi:8rem,
    nouveau1_mobile:6rem,
    nouveau1_tablette:10rem,
    nouveau1_ordi:8rem,
    p:70%,
    nouveau: 8rem,
    ul:195px,
    img:100%,
    fa-regular:630px,
    h1:458px,
    loader:100%,
    description:100%,
);
$hauteur: (
    haut_page_mobile:2.5rem,
    haut_page_tablette:4.5rem,
    haut_page_ordi:6rem,
    footer_ordi:25rem,
    titre_footer_tablette:2rem,
    titre_footer_mobile_img:20px,
    titre_footer_ordi_img:3rem,

    header_tablette:32rem,
    header_ordi:37rem,
    barre_de_recherche_mobile:4rem,
    barre_de_recherche_tablette:4rem,
    barre_de_recherche_ordi:6rem,
    ul_tablette:10rem,
    ul_ordi:10rem,
    ul_mobile:100px,
    lds-dual-ring_mobile:10rem,
    lds-dual-ring_tablette:22rem,
    lds-dual-ring_ordi:24rem,
    lds-dual-ring-after:9rem,
    partie_fonctionnement:5rem,
    partie_fonctionnement_tablette:8rem,
    partie_fonctionnement_ordi:7rem,
    image_menu_mobile:70%,
    image_menu_tablette:80%,
    image_menu_ordi:75%,
    nouveau2_mobile:1.5rem,
    nouveau2_tablette:3rem,
    nouveau2_ordi:2rem,
    nouveau1_mobile:1.5rem,
    nouveau1_tablette:3rem,
    nouveau1_ordi:2rem,
	valeur_ul:122px,
    description: 20rem,
    loader: 100%,
    img:15rem,
    logo:2%,
    recherche:101px,
    destination:99px,
    bouton_recherche:92px,
    h4:47px,
    ul: 195px,
    nouveau:1.5rem,
    valeurs_ul:7rem,
);
$taille: (
    titre_footer_p_mobile:1.5rem,
    titre_footer_p_tablette:2rem,
    titre_footer_p_ordi:2.5rem,
    ohmyfood_p_mobile:1.5rem,
    ohmyfood_p_tablette:3rem,
    ohmyfood_p_ordi:4rem,
    valeur_icone_footer_mobile:1rem,
    valeur_icone_footer_ordi:1.5rem,
    valeur_icone_footer_tablette:1.5rem,
    icone_footer:30px,
    ul_ordi:1.5rem,
    nouveau1_tablette:2rem,
    image_recherche:1rem,
    image_recherche_tablette:1.5rem,
    image_recherche_ordi:2.5vw,
    destination:1rem,
    destination_tablette:1.5rem,
    destination_ordi:2rem,
    h1_mobile:1rem,
    h1_tablette:1.5rem,
    h1_ordi:2rem,
    h2_mobile:1rem,
    h2_tablette:1.5rem,
    h2_ordi:2rem,
    h3_mobile:1rem,
    h3_tablette:1rem,
    h3_ordi:1.5rem,
    h4_mobile:1.5rem,
    h4_tablette:2rem,
    h4_ordi:2rem,
    h5_mobile:1rem,
    h5_tablette:1.5rem,
    h5_ordi:1.5rem,
    partie_fonctionnement:1rem,
    partie_fonctionnement_tablette:2rem,
    partie_fonctionnement_ordi:2rem,
    chiffre_ordi:2rem,
    chiffre_tablette:2rem,
    chiffre_mobile:1rem,
    images_icones:1rem,
    images_icones_tablette:2rem,
    images_icones_ordi:2rem,
    h6_mobile:1.5rem,
    h6_tablette:2rem,
    h6_ordi:2rem,
    nouveau2_tablette:30px,
    fa_heart_hover_mobile:1.5rem,
    fa_heart_hover_tablette:3rem,
    fa_heart_hover_ordi:2.5rem,
    p_ordi:1.5rem,
    p_tablette:1.5rem,
    p:1rem,
    valeur_li_a_ordi:1.5rem,
    valeur_li_a_tablette:1.5rem,
    valeur_li_a:1rem,
    lettre: 25px,
    nouveau_tablette:30px,
    nouveau_ordi: 30px,
    fa: 2.5rem,
    li_a:30px,
    fa-regular:30px,
    h7:30px,
    nouveau:30px,
    h6:36px,
    image_icone:35px,
    image_icone_tablette:2rem,
    image_icone_ordi:3rem,
    texte:30px,
);
$margeinterne: (    
    nouveau1_mobile:0.5rem 0rem 0rem 0rem,

    titre_footer_mobile_img:2rem 0rem 0rem 1rem,
    titre_footer_tablette_img:2rem 0rem 0rem 1.5rem,
    titre_footer_ordi:2rem 0rem 0rem 1.5rem,

    titre_footer_ordi_img:4rem 0rem 0rem 2.5rem,
    titre_footer_tablette:4rem 0rem 0rem 3rem,
    titre_footer:4rem 0rem 0rem 4rem,


    lds-dual-ring_mobile:30%,
    lds-dual-ring_tablette:35%,
    lds-dual-ring_ordi:40%,
    valeur_mobile_ul: 1rem 2rem 0rem 2.5rem,
    valeur_tablette_ul: 2rem 2rem 2rem 2.5rem,
    valeur_ordi_ul: 2rem 2rem 2rem 4rem,
    chiffre_mobile:8px 12px 23px 12px,
    chiffre_tablette:0.8rem 1.5rem 2rem 1.5rem,
    chiffre_ordi:0.5rem 1rem 2.5rem 1rem,
    header: 0px 0px 1px 0px,
    restaurants_mobile:1rem 2rem 1rem 2rem,
    restaurants_tablette:3rem 3rem 1rem 3rem,
    restaurants_ordi:0rem 6rem 0rem 6rem,
    h7:0px 300px 0px 15px,
    logo:15px 218px 25px 215px, 
    bouton_recherche:1px,
    chiffre:15px 24px 24px 24px,
    h6_mobile: 3rem 0rem 0rem 2rem,
    h6_tablette:6rem 0rem 0rem 3rem,
    h6_ordi:3rem 0rem 0rem 6rem,
    loader:17rem 0rem 0rem 0rem,
);
$fond-color: (
    bouton_recherche:linear-gradient(to bottom, $pink, $violet),
    partie_fonctionnement:$gris);
$ombre: (
    description:0px 0px 10px 5px rgb(225 225 225),
    description-hover:0px 0px 10px 5px rgb(194, 194, 194),
    bouton_recherche:7px solid $black,
    bouton_recherche_hover:2px 5px 5px #d7d7d7,
    partie_fonctionnement_hover:2px 5px 5px #d7d7d7,
);
$police: (
    h1:"Shrikhand",
    h2:"Arial",
    h3:"Arial",
    h4:"Shrikhand"
);
$bordure: (
    titre_footer_tablette:0px,
    titre_footer:0px,

    lds-dual-ring-after:50%,
    img:25px 25px 0px 0px,
    destination:"none",
    logo:0px,
    img_mobile: 25px 25px 0px 0px,
    img_tablette:45px 45px 0px 0px,
    img_ordi:45px 45px 0px 0px,
    bordure_mobile:25px 25px 25px 25px,
);
$MargeExterne: (

    titre_footer_ordi_img:1.5rem 0rem 0rem 2.5rem,
    titre_footer_ordi:0rem 0rem 3rem 0rem,
    titre_footer_mobile:0rem 0rem 0rem 1.5rem,
    titre_footer_tablette:0rem 0rem 0.5rem 0rem,

    icone_footer:0px 20px 0px 0px,
    titre_footer_mobile_img: 0rem ,
    valeur_icone_footer:0px 10px 0px 0px,
    titre_footer:1rem 0rem 2rem 0rem,

    valeurs_ul:2rem 0rem 2rem 0rem,

    barre_de_recherche_tablette: 0px 0px 5rem 0px,
    barre_de_recherche_ordi: 0px 0px 3.5rem 0px,
    lds-dual-ring-after:4rem,
    body:0px,
    fonctionement:30px 1rem 0px 2rem,
    fonctionnement_ordi:3rem 6rem 5rem 6rem,
    partie_fonctionnement:0px 0px 2rem 0px,
    p_tablette:1rem 0rem 0rem 0rem,
    chiffre_mobile:25px 0px 25px 0px,
    chiffre_tablette:2rem 0rem 2rem 1.5rem,
    chiffre_ordi:2rem 0rem 3rem 0rem,
    images_icones:0px 10% 0px 5%,
    images_icones_tablette:0px 7% 0px 0%,
    images_icones_ordi:0px 6% 0px 3%,
    nouveau1_p:0rem 0rem -1.5rem 0rem,
    nouveau2_p:0rem 0rem -1.5rem 0rem,
    h6:0px,
    nouveau1_p_tablette:0.3rem 0rem -1.5rem 0rem,
    nouveau2_p_tablette:0.3rem 0rem -1.5rem 0rem,
    p:0rem 0rem 0rem 0rem,
    valeur_ul: 1rem 0rem 0rem -1rem,
    lettre: 9px 0px 150px 0px,
    loader: 0px 0px 0px 0px,
    h5: 0rem,
    nouveau_ordi: -54rem 0rem 19rem 3rem,
    nouveau_tablette: -39rem 0rem 4rem 19rem,
    nouveau: 1rem 0rem 5rem 0rem,
    description:0px 0px 45px 0px,
    image_recherche:0% 5% 0% 35%,
    texte_recherche1:30px 0px 50px 0px,
    margin: 0px 20% 0px 20%,
    h2:0px,
    bouton_recherche:30px 19% 70px 19%,
    bouton_recherche_tablette:55px 30% 85px 30%,
    bouton_recherche_ordi:3rem 29rem 8rem 29rem,
    fonctionnement:30px 1rem 3rem 2rem,
    fonctionnement_tablette:5rem 4rem 3rem 4rem,
    image_icone:50px 10% 0px 0%,
    barre_de_recherche:0px 0px 30px 0px, 
    texte_recherche2:30px 0px 0px 0px,
    texte_recherche2_tablette:1rem 0px 2rem 0px,
    texte_recherche2_ordi:1rem 0px 2rem 0px,
    h1: 0px 20% 0px 20%,
    logo: 1rem 0rem 1rem 0rem,
    restaurant:0px,
);
$bottom :(

    titre_footer: 14rem,

    image_menu:2rem,
    p:1rem,
    texte_mobile: -1.5rem,
    texte_tablette: -2rem,
    nouveau1_p:0rem,
    nouveau2_p:0rem,
    nouveau1_p_tablette:0rem,
    nouveau2_p_tablette:0rem,
    nouveau2_ordi:1.5rem ,

);
$top: (
    titre_footer_p_mobile:1rem,
    ohmyfood_p_mobile:0.5rem,
    footer_ordi:0rem,
    
    nouveau1_tablette:85rem,
    lds-dual-ring-after:10rem,
    partie4_mobile:-1rem,
    partie4_tablette:0rem,
    partie4_ordi:7rem,
    partie3_mobile:0rem,
    partie3_tablette:0rem,
    partie3_ordi:6rem,
    partie2_mobile:-1rem,
    partie2_tablette:0rem,
    partie2_ordi:-10rem,
    partie1_mobile:0rem,
    partie1_tablette:0rem,
    partie1_ordi:-2.3rem,
    nouveau2_ordi:0rem ,
    fa_heart_hover_mobile:0rem,
    fa_heart_hover_tablette:0rem,
    valeur_ordi_ul:0rem,
    nouveau1_ordi:6.5rem,
    nouveau2: -60rem,
    h7: 20px,
    top_ordi: 129rem,
    ul:4rem,
    ul_tablette: 0rem,
    ul_ordi:-14rem,
    fa: 0.5rem,
);
$left: (
    titre_footer_p_mobile:1rem,
    titre_footer_p_tablette:2.5rem,
    titre_footer_p_ordi:2.5rem,
    ohmyfood_p_mobile:0rem,
    image_recherche:2.5rem,
    image_recherche_tablette:4rem,
    image_recherche_ordi:4rem,
    p:2rem,
    h7:2rem,
    nouveau1_p:1rem,
    nouveau2_p:1rem,
    nouveau1_p_tablette:2rem,
    nouveau2_p_tablette:2rem,
);
$right: (
    fa_heart_hover_ordi:3rem,
    h4_mobile:1rem,
    chiffre_mobile:1rem,
    chiffre_tablette:3rem,
    chiffre_ordi:1.3rem,
    nouveau2_mobile:3rem,
    nouveau2_tablette:4rem,
    nouveau2_ordi:1rem,
    nouveau1_mobile:3rem,
    nouveau1_tablette:4rem,
    nouveau1_ordi:1rem,
    fa_heart_hover:1rem,
    chiffre: 30px,
    nouveau:4rem,
    h4:0rem,
    fa_heart_hover_tablette:3rem,
);

