//bonton recherche//
$violet: rgb(159, 91, 221);
$pink: rgb(223, 118, 200);

//fond chiffres cerclés//
$bleu-violet:rgb(147,86,220);

//couleur fond de page//
$gris: rgb(247,247,247);

//vert fond nouveau accueil//
$vert: rgb(0, 135, 102);

// vert ecriture nouveau accueil//
$vertclaire:rgb(153, 226, 208);

//couleur fond footer et fleche gauche//
$gris_tres_sombre:rgb(53, 53, 53);
 
//fond barre recherche//
$gris_sombre: rgb(234, 234, 234);

//angles cases//
$radius: 45px 45px 45px 45px;
$radius_haut: 45px 45px 0px 0px;
$no_radius: 0px;

$white: #ffffff; 
$black: #000000;