$gris: rgb(214, 214, 214);
$blanc-sombre:rgb(247, 247, 247);

//couleur coeurs avant hover//
$gris_coeur: gray;

//fond foooter//
$gris_tres_sombre:rgb(53, 53, 53);

//fond couleur coche droite et soulignement titres parties//
$vert: rgb(153, 226, 208);

//angles cases//
$radius: 45px 45px 45px 45px;
$radius_haut: 45px 45px 0px 0px;
$no_radius: 0px;

//bonton recherche//
$violet: rgb(159, 91, 221);
$pink: rgb(228, 120, 204);

//gris des titres de parties//
$gris_titres:#5e5e5e;


$blanc: white;
$black: #000000;