@charset "UTF-8";
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.lds-dual-ring {
  width: 100%;
  height: 10rem;
  display: inline-block;
  position: absolute;
  pointer-events: none;
  margin: auto;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .lds-dual-ring {
    height: 22rem;
  }
}
@media all and (min-width: 800px) {
  .lds-dual-ring {
    height: 24rem;
  }
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10rem;
  height: 10rem;
  margin: auto;
  border-radius: 50%;
  border: 12px solid #fff;
  border-color: rgb(159, 91, 221) transparent rgb(159, 91, 221) transparent;
  -webkit-animation: lds-dual-ring 3s linear 1;
  animation: lds-dual-ring 3s linear 1;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 10rem;
  opacity: 0;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .lds-dual-ring:after {
    width: 20rem;
    height: 22rem;
  }
}
@media all and (min-width: 800px) {
  .lds-dual-ring:after {
    width: 24rem;
    height: 24rem;
  }
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.page {
  position: absolute;
}

html {
  width: 100%;
}

.titre_footer > p {
  left: 1rem;
  font-size: 1.5rem;
  top: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Shrikhand";
  font-weight: bold;
  font-style: italic;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .titre_footer > p {
    left: 2.5rem;
    font-size: 2rem;
  }
}
@media all and (min-width: 800px) {
  .titre_footer > p {
    left: 2.5rem;
    font-size: 2.5rem;
  }
}

.ohmyfood {
  background-color: #ffffff;
  text-align: center;
  margin: auto;
  font-weight: bold;
  height: 2.5rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .ohmyfood {
    height: 4.5rem;
  }
}
@media all and (min-width: 800px) {
  .ohmyfood {
    height: 6rem;
  }
}

.ohmyfood > h1 {
  top: 0.5rem;
  font-size: 1.5rem;
  margin: auto;
  position: relative;
  font-style: italic;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .ohmyfood > h1 {
    font-size: 3rem;
  }
}
@media all and (min-width: 800px) {
  .ohmyfood > h1 {
    font-size: 4rem;
  }
}

body {
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0px;
  width: 100%;
}

.logo {
  height: 2%;
  width: 40%;
  border-radius: 0px;
  margin: 1rem 0rem 1rem 0rem;
}

header {
  background: rgb(247, 247, 247);
  padding: 0px 0px 1px 0px;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  header {
    height: 32rem;
  }
}
@media all and (min-width: 800px) {
  header {
    height: 37rem;
  }
}

.barre_de_recherche {
  border-top: 3px solid rgba(211, 211, 211, 0.53);
  background-color: rgb(234, 234, 234);
  margin: 0px 0px 30px 0px;
  flex-direction: column;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 4rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .barre_de_recherche {
    margin: 0px 0px 5rem 0px;
    height: 4rem;
  }
}
@media all and (min-width: 800px) {
  .barre_de_recherche {
    margin: 0px 0px 3.5rem 0px;
    height: 6rem;
  }
}

#image_recherche {
  font-size: 1rem;
  color: #000000;
  left: 2.5rem;
  position: relative;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #image_recherche {
    font-size: 1.5rem;
    left: 4rem;
    position: relative;
  }
}
@media all and (min-width: 800px) {
  #image_recherche {
    font-size: 2.5vw;
    left: 4rem;
  }
}

#destination {
  justify-content: center;
  background-color: rgb(234, 234, 234);
  font-size: 1rem;
  display: flex;
  text-align: center;
  font-weight: bold;
  border: none;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #destination {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  #destination {
    font-size: 2rem;
  }
}

.texte {
  font-weight: bold;
  position: relative;
  bottom: -1.5rem;
  text-align: initial;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .texte {
    bottom: -2rem;
  }
}

.texte_recherche1 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1rem;
  text-align: center;
  font-family: "Shrikhand";
  font-weight: bold;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

.texte_recherche2 {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .texte_recherche2 {
    margin: 1rem 0px 2rem 0px;
  }
}
@media all and (min-width: 800px) {
  .texte_recherche2 {
    margin: 1rem 0px 2rem 0px;
  }
}

h2 {
  margin: 0px;
  text-align: center;
  font-size: 1rem;
  font-family: "Arial";
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  h2 {
    font-size: 2rem;
  }
}

.bouton_recherche {
  background: linear-gradient(to bottom, rgb(223, 118, 200), rgb(159, 91, 221));
  text-align: center;
  margin: 30px 19% 70px 19%;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  filter: brightness(96%);
  box-shadow: 1px 5px 11px 1px #767676;
  border-radius: 45px 45px 45px 45px;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .bouton_recherche {
    width: 17rem;
    margin: auto;
  }
}
@media all and (min-width: 800px) {
  .bouton_recherche {
    width: 23rem;
    margin: auto;
  }
}

.bouton_recherche:hover {
  box-shadow: 2px 5px 5px #d7d7d7;
  border-radius: 45px 45px 45px 45px;
  filter: brightness(100%);
  box-shadow: none;
}

h3 {
  text-transform: none;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Arial";
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h3 {
    font-size: 1rem;
  }
}
@media all and (min-width: 800px) {
  h3 {
    font-size: 1.5rem;
  }
}

/*block fonctionnement*/
.fonctionnement {
  margin: 30px 1rem 3rem 2rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .fonctionnement {
    margin: 5rem 4rem 3rem 4rem;
  }
}
@media all and (min-width: 800px) {
  .fonctionnement {
    margin: 3rem 6rem 5rem 6rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-family: "Roboto";
  position: relative;
  right: 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h4 {
    font-size: 2rem;
  }
}
@media all and (min-width: 800px) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h5 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  h5 {
    font-size: 1.5rem;
  }
}

.image_menu {
  overflow: hidden;
  height: 70%;
  position: relative;
}
@media all and (max-width: 500px) {
  .image_menu {
    height: 80%;
  }
}
@media all and (min-width: 800px) {
  .image_menu {
    height: 75%;
  }
}

#La_palette_du_goût,
#La_note_enchantée,
#À_la_française,
#Le_délice_des_sens {
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.partie1_fonctionnement,
.partie2_fonctionnement,
.partie3_fonctionnement {
  height: 5rem;
  margin: 0px 0px 2rem 0px;
  font-size: 1rem;
  background-color: rgb(247, 247, 247);
  border-radius: 45px 45px 45px 45px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .partie1_fonctionnement,
.partie2_fonctionnement,
.partie3_fonctionnement {
    height: 8rem;
    font-size: 2rem;
  }
}
@media all and (min-width: 800px) {
  .partie1_fonctionnement,
.partie2_fonctionnement,
.partie3_fonctionnement {
    height: 7rem;
    font-size: 2rem;
  }
}

.partie1_fonctionnement:hover,
.partie2_fonctionnement:hover,
.partie3_fonctionnement:hover {
  box-shadow: 2px 5px 5px #d7d7d7;
  background-color: rgb(247, 247, 247);
  filter: brightness(1.05);
}
.partie1_fonctionnement:hover:hover #image_phone, .partie1_fonctionnement:hover:hover #image_liste, .partie1_fonctionnement:hover:hover #image_restaurant,
.partie2_fonctionnement:hover:hover #image_phone,
.partie2_fonctionnement:hover:hover #image_liste,
.partie2_fonctionnement:hover:hover #image_restaurant,
.partie3_fonctionnement:hover:hover #image_phone,
.partie3_fonctionnement:hover:hover #image_liste,
.partie3_fonctionnement:hover:hover #image_restaurant {
  color: rgb(147, 86, 220);
}

.chiffre {
  background-color: rgb(147, 86, 220);
  border-radius: 45px 45px 45px 45px;
  position: relative;
  padding: 8px 12px 23px 12px;
  margin: 25px 0px 25px 0px;
  color: #ffffff;
  right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .chiffre {
    padding: 0.8rem 1.5rem 2rem 1.5rem;
    margin: 2rem 0rem 2rem 1.5rem;
    right: 3rem;
  }
}
@media all and (min-width: 800px) {
  .chiffre {
    padding: 0.5rem 1rem 2.5rem 1rem;
    margin: 2rem 0rem 3rem 0rem;
    right: 1.3rem;
    font-size: 2rem;
  }
}

#image_phone,
#image_liste,
#image_restaurant {
  font-size: 1rem;
  color: gray;
  margin: 0px 10% 0px 5%;
  align-items: center;
  display: flex;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #image_phone,
#image_liste,
#image_restaurant {
    font-size: 2rem;
    margin: 0px 7% 0px 0%;
  }
}
@media all and (min-width: 800px) {
  #image_phone,
#image_liste,
#image_restaurant {
    font-size: 2rem;
    margin: 0px 6% 0px 3%;
  }
}

.restaurants {
  background-color: rgb(247, 247, 247);
  padding: 1rem 2rem 1rem 2rem;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .restaurants {
    padding: 3rem 3rem 1rem 3rem;
  }
}
@media all and (min-width: 800px) {
  .restaurants {
    background-color: rgb(247, 247, 247);
    -moz-column-count: 2;
         column-count: 2;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0rem 6rem 0rem 6rem;
  }
}

h6 {
  font-size: 1.5rem;
  margin: 0px;
  background-color: rgb(247, 247, 247);
  padding: 3rem 0rem 0rem 2rem;
  font-family: "Roboto";
}
@media all and (min-width: 500px) and (max-width: 800px) {
  h6 {
    font-size: 2rem;
    padding: 6rem 0rem 0rem 3rem;
  }
}
@media all and (min-width: 800px) {
  h6 {
    font-size: 2rem;
    padding: 3rem 0rem 0rem 6rem;
  }
}

#destination {
  justify-content: center;
  background-color: rgb(234, 234, 234);
  font-size: 1rem;
  display: flex;
  text-align: center;
  font-weight: bold;
  border: none;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #destination {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  #destination {
    font-size: 2rem;
  }
}

.fa-regular {
  content: "\f004";
  top: 0rem;
  right: 1rem;
  font-weight: bold;
  transition: color 1s ease-out;
  position: relative;
  text-shadow: 0 0 3px #000;
  z-index: 1;
  font-size: 1.5rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .fa-regular {
    font-size: 3rem;
    right: 3rem;
    top: 0rem;
  }
}
@media all and (min-width: 800px) {
  .fa-regular {
    font-size: 2.5rem;
    right: 3rem;
  }
}
.fa-regular:hover {
  background: linear-gradient(to bottom, rgb(159, 91, 221), rgb(223, 118, 200));
  text-shadow: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.partie1_restaurants {
  position: relative;
  top: 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .partie1_restaurants {
    top: 0rem;
  }
}
@media all and (min-width: 800px) {
  .partie1_restaurants {
    top: -2.3rem;
  }
}

.partie2_restaurants {
  position: relative;
  top: -1rem;
}
@media all and (max-width: 500px) {
  .partie2_restaurants {
    top: 0rem;
  }
}
@media all and (min-width: 800px) {
  .partie2_restaurants {
    top: -10rem;
  }
}

.partie3_restaurants {
  position: relative;
  top: 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .partie3_restaurants {
    top: 0rem;
  }
}
@media all and (min-width: 800px) {
  .partie3_restaurants {
    top: 6rem;
  }
}

.partie4_restaurants {
  position: relative;
  top: -1rem;
}
@media all and (max-width: 500px) {
  .partie4_restaurants {
    top: 0rem;
  }
}
@media all and (min-width: 800px) {
  .partie4_restaurants {
    top: 7rem;
  }
}

.nouveau1 > p {
  left: 1rem;
  bottom: 0rem;
  position: relative;
  margin: 0rem 0rem -1.5rem 0rem;
  font-weight: bold;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .nouveau1 > p {
    left: 2rem;
    margin: 0.3rem 0rem -1.5rem 0rem;
  }
}

.nouveau2 > p {
  left: 1rem;
  bottom: 0rem;
  position: relative;
  margin: 0rem 0rem -1.5rem 0rem;
  font-weight: bold;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .nouveau2 > p {
    left: 2rem;
    margin: 0.3rem 0rem -1.5rem 0rem;
  }
}

.nouveau1 {
  font-size: 30px;
  background-color: rgb(153, 226, 208);
  position: absolute;
  color: rgb(0, 135, 102);
  margin: 1rem 0rem 5rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 6rem;
  float: right;
  height: 1.5rem;
  right: 3rem;
  position: absolute;
  z-index: 1;
  padding: 0.5rem 0rem 0rem 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .nouveau1 {
    width: 10rem;
    right: 4rem;
    font-size: 2rem;
    background-color: rgb(153, 226, 208);
    position: absolute;
    color: rgb(0, 135, 102);
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 3rem;
    top: 85rem;
  }
}
@media all and (min-width: 800px) {
  .nouveau1 {
    top: 6.5rem;
    width: 8rem;
    right: 1rem;
    font-size: 30px;
    background-color: rgb(153, 226, 208);
    position: relative;
    color: rgb(0, 135, 102);
    margin: 1rem 0rem 5rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 2rem;
  }
}

.nouveau2 {
  font-size: 30px;
  background-color: rgb(153, 226, 208);
  position: relative;
  color: rgb(0, 135, 102);
  margin: 1rem 0rem 5rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 6rem;
  float: right;
  height: 1.5rem;
  right: 3rem;
  position: absolute;
  z-index: 1;
  padding: 0.5rem 0rem 0rem 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .nouveau2 {
    width: 10rem;
    right: 4rem;
    font-size: 30px;
    background-color: rgb(153, 226, 208);
    color: rgb(0, 135, 102);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 3rem;
  }
}
@media all and (min-width: 800px) {
  .nouveau2 {
    width: 8rem;
    right: 1rem;
    font-size: 30px;
    background-color: rgb(153, 226, 208);
    position: relative;
    color: rgb(0, 135, 102);
    margin: 1rem 0rem 5rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 2rem;
    bottom: 1.5rem;
  }
}

p {
  position: relative;
  left: 2rem;
  text-align: initial;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1rem;
  position: relative;
  bottom: 1rem;
  width: 70%;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  p {
    font-size: 1.5rem;
    margin: 1rem 0rem 0rem 0rem;
  }
}
@media all and (min-width: 800px) {
  p {
    font-size: 1.5rem;
  }
}

img {
  position: relative;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

.description {
  width: 100%;
  box-shadow: 0px 0px 10px 5px rgb(225, 225, 225);
  margin: 0px 0px 45px 0px;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.description:hover {
  box-shadow: 0px 0px 10px 5px rgb(225, 225, 225);
  box-shadow: 0px 0px 10px 5px rgb(194, 194, 194);
}

i {
  color: #ffffff;
}

footer {
  width: 100%;
  background-color: rgb(53, 53, 53);
  position: absolute;
}
@media all and (min-width: 800px) {
  footer {
    height: 25rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 0rem;
    position: relative;
  }
}

.titre_footer {
  position: relative;
  margin: 0rem 0rem 0rem 1.5rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .titre_footer {
    position: relative;
    margin: 0rem 0rem 0.5rem 0rem;
  }
}
@media all and (min-width: 800px) {
  .titre_footer {
    position: relative;
    padding: 2rem 0rem 0rem 1.5rem;
    margin: 0rem 0rem 3rem 0rem;
  }
}

#fourchette_couteau {
  margin-right: 1.2rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #fourchette_couteau {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}
@media all and (min-width: 800px) {
  #fourchette_couteau {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

#icone_hande {
  margin-right: 0.8rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  #icone_hande {
    font-size: 1.5rem;
    margin-right: 1.4rem;
  }
}
@media all and (min-width: 800px) {
  #icone_hande {
    font-size: 1.5rem;
    margin-right: 1.4rem;
  }
}

ul {
  display: grid;
  justify-content: space-between;
  height: 100px;
  list-style-type: none;
  top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0rem 2rem 0rem;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  ul {
    position: relative;
    top: 0rem;
    height: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 2rem 2rem 2.5rem;
  }
}
@media all and (min-width: 800px) {
  ul {
    height: 10rem;
    position: relative;
    display: grid;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    top: 0rem;
    padding: 2rem 2rem 2rem 4rem;
    font-size: 1.5rem;
  }
}

.ohmyfood > p {
  top: 0.5rem;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .ohmyfood > p {
    font-size: 3rem;
  }
}
@media all and (min-width: 800px) {
  .ohmyfood > p {
    font-size: 4rem;
  }
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 500px) and (max-width: 800px) {
  li a {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 800px) {
  li a {
    font-size: 1.5rem;
  }
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.a {
  text-decoration: none;
  color: black;
}

#partie1, #partie2, #partie3, #partie4 {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */
